body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

header h1 {
    color: #121212;
    background-size: 20vw 20vw;
    font-size: 45px;
}

header a {
    text-decoration: none;
}

#getstarted {
    padding: 20px 0;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-toggler {
    border: none;
    padding: 5px 0;
    background: #888888;
    margin-left: 10px;
}
@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
}

.nav-link {
    color: black;
    font-size: 19px;
}

#maincontent {
    padding: 20px 0;
    padding-left: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 35px;
}

#android {
    text-align: center;
}

.androiddownload {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.androiddownload a > button {
    border: none;
    padding: 15px 20px;
    color: #eee;
    background: #666666;
    border-radius: 13px;
}

#linux {
    text-align: center;
}

.linuxdownload {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.linuxdownload a > button {
    border: none;
    padding: 15px 20px;
    color: #eee;
    background: #666666;
    border-radius: 13px;
}

.linuxdownload a > button:hover {
    background: #444444;
}

#thirdcontent {
    padding: 20px 0;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

@media (max-width: 768px) {
    #maincontent, #secondcontent {
        padding: 20px 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .secondcontent {
        width: 350px;
        padding-left: 15px;
    }

    #secondcontent img {
        padding-left: 40px;
    }

    #thirdcontent {
        padding-left: 10px;
        padding-right: 10px;
    }
}

#maincontent img {
    object-fit: cover;
    max-width: 370px;
    width: 100%;
}

#secondcontent img {
    object-fit: cover;
    max-width: 370px;
    width: 100%;
}

.firstcontent {
    width: 350px;
}

.firstcontent h2  {
    font-size: 40px;
}

.thirdcontent h2 {
    font-size: 40px;
    text-align: center;
}

.secondcontent h2 {
    font-size: 32px;
}


.firstcontent a > button {
    border: none;
    padding: 15px 20px;
    color: #eee;
    background: #666666;
    border-radius: 13px;
}

.firstcontent a > button:hover {
    background: #444444;
}

#secondcontent {
    background: #eeeeee;
    padding: 20px 0;
    padding-right: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    gap: 35px;
}

#secondcontent img {
    object-fit: cover;
    max-width: 370px;
    width: 100%;
}

#fourthcontent {
    text-align: center;
}

#fourthcontent a {
    text-decoration: none;
}

#fourthcontent a:hover {
    text-decoration: underline;
}

footer {
    background: #eeeeee;
    padding: 20px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
